.about {
 
  background-color: var(--secondary_color);
  color: var(--color_white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3rem;
  gap: 15rem;
  padding-bottom: 2rem;

}
.us{
  margin-top:1px;
  
}

.socials {
  width: 60%;
  margin: 0;
  display: flex;
  flex-direction: column;
  
  
}
.socials p {
  width: 40%;
}
.aboutus{
  display:flex;
  padding:2px;
  align-items: center;
 
  
}
.contactinfo{
  border:2px solid grey;
  border-radius: 10%;
}
