.testimonies {
  background-color: var(--light_color);
}
.testimonies h1 {
  font-size: 4rem;
  display: flex;
  gap:1px;
  justify-content: center;
  background-color: var(--primary_color);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.testimonies h1 {
  background-color: var(--primary_color);
  color: #FFDA9D;
}

.members_say {
}
.members {
  width: 100%;
  float: left;
  font-style: italic;
  display: flex;
  gap: 5rem;
  background-color: var(--primary_color);
  color:#FFDA9D ;
  padding-top: 2rem;
  margin-top:10px;
  
 
}

.members h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.vee h2 {
  float: left;
}
.vee{
  border:3px solid grey;
  border-radius:30%;
  padding:6rem;
}
.vee p:hover{
  color:purple;
  scale: 1.1;
  transition:all 0.6s ease-in-out;
}

