@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Nunito Sans", sans-serif;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  color: var(--primary_color);
}

:root {
  --primary_color:#344C64;
  --secondary_color: #57A6A1;
  --color_blue: #76ABAE;
  --light_color: #dfd0b8;
  --color_white:#FFDA9D;
  
}

body {
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
}
