.header{
    margin-bottom: 1rem;
  height: 10rem;
}
.tracks{
    background-color: var(--secondary_color);
    color: var(--color_white);
    height: 100vh;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem
}
.tracks1{
    display:flex;
    flex-direction: row;
    gap:2rem;
}
.tracks2{
    display:flex;
    flex-direction: row;
    gap:2rem;
}

.cybersecurity{
    border:2px groove grey;
    border-radius: 20px;
}
.cybersecurity h1{
    font-weight: bolder;
}

