.top{
    margin-bottom: 1rem;
    
margin-left: 30%;
font-weight: bolder;

}
.top p{
    margin-left: 10%;
    font-size: larger;
    

}

.tracks{
    background-color: var(--secondary_color);
    color: var(--color_white);
    height: 70%;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem
    
}

.tracks1{
    display:flex;
    flex-direction: row;
    gap:2rem;
    margin-top: 20px;
    min-height:30%;
    overflow: hidden;
}
.tracks2{
    display:flex;
    flex-direction: row;
    gap:2rem;
    min-height: 30%;
}

.cybersecurity{
    border:2px groove grey;
    border-radius: 20%;
    background-color: var(--primary_color);
    width:40rem;
    border-top: 2px solid grey;
    padding: 1.5rem;
    font-size: medium;
    margin-bottom: 2rem;
    line-height: 20px;
    letter-spacing: .5px;
    
    
}
.cybersecurity h1{
    font-weight: bolder;
    margin-left:30%;
}

.cybersecurity p:hover{
scale: 1.1;
transition: all 1.5s;
overflow: hidden;

}
.introduction{
    color:var(--color_white);
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}