.ourevents1{
    
    display:flex;
    gap:1px;
    min-height:70vh;
    background-position: 0%;
    margin-left: 20rem;
    margin-right: 20rem;

}
.ourevents1 h1{
    font-weight: bolder;
}


.ourevents2{
    border:2px groove grey;
    border-radius: 20%;
    min-width: 5vb;
}