.ourevents1{
    border:2px groove grey;
    border-radius: 20px;
    display:flex;
    gap:1px;
    min-height:70vh;
    
    margin-left: 20rem;
    margin-right: 20rem;

}
.ourevents1 h1{
    font-weight: bolder;
}


.ourevents2{
    border:2px groove grey;
    border-radius: 20%;
    
}