.ourevents1 {
    display: flex;
    gap: 40px; 
    min-height: 40vh;
    background-position: 0%;
    margin:10% 30%;
}

.ourevents1 h1 {
    font-weight: bolder;
}

.ourevents2 {
    border: 2px groove grey;
    border-radius: 40%;   
    min-width: 60px; 
    width: 60px; 
    height: 120px; 
    overflow: hidden; 
    position: relative;
    transition: all 0.3s ease;
}

.ourevents2:hover {
    width: 400px;
    min-width: 400px; 
    height: auto;
    align-items: center;
}

.ourevents2 h1, .ourevents2 p {
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.ourevents2:hover h1{
opacity:1;
margin-left:20%;
padding:10px;
margin-top: 10%;
transition: 0.18s ease;
}

 .ourevents2:hover p {
    opacity: 1; 
    position: relative; 
    padding: 10px; 
}
